.background-box {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/cowork_bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  overflow: hidden;
}
/*
picture: cowork_bg.jpg
source: https://www.flickr.com/photos/thehub/12913907324
license: creative commons
license link: https://creativecommons.org/licenses/by-sa/2.0/
original picture was blured
*/

.back-image {
  @media (min-width: 750px) {
    width: 100%;
    height: 40%;
    background-size: contain;
    background-image: url("../images/back_silhouette.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 48%;
    left: 3%;
  }
}

/*
back_silhouette.png & fore_silhouette.png are sliced from
original picture: http://www.publicdomainpictures.net/view-image.php?image=147188&picture=business-people
license: Public Domain
author: Piotr Siedlecki
*/

.logo {
  height: 25%;
  width: 100%;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 34%;
}

.fore-image {
  @media (min-width: 750px) {
    width: 100%;
    height: 100%;
    background-image: url("../images/fore_silhouette.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    top: 54%;
  }
}
